@font-face {
  font-family: "Sequel45";
  src: url("../fonts/Sequel100Black-45.ttf");
}
@font-face {
  font-family: "Sequel55";
  src: url("../fonts/Sequel100Black-55.ttf");
}
@font-face {
  font-family: "Sequel65";
  src: url("../fonts/Sequel100Black-65.ttf");
}
@font-face {
  font-family: "Sequel75";
  src: url("../fonts/Sequel100Black-75.ttf");
}
@font-face {
  font-family: "Sequel85";
  src: url("../fonts/Sequel100Black-85.ttf");
}
@font-face {
  font-family: "Sequel95";
  src: url("../fonts/Sequel100Black-95.ttf");
}
@font-face {
  font-family: "Sequel105";
  src: url("../fonts/Sequel100Black-105.ttf");
}
@font-face {
  font-family: "SwissL";
  src: url("../fonts/Swiss721BT-Light.otf");
}
@font-face {
  font-family: "SwissM";
  src: url("../fonts/Swiss721BT-Medium.otf");
}
@font-face {
  font-family: "SwissExt";
  src: url("../fonts/Swis721BT-Expanded2.otf");
}

// fonts for preloader
@font-face {
  font-family: "1";
  src: url("../fonts/preloader/Canopee.otf");
}
@font-face {
  font-family: "2";
  src: url("../fonts/preloader/Chomsky.otf");
}
@font-face {
  font-family: "3";
  src: url("../fonts/preloader/DomaineDisplay.otf");
}
@font-face {
  font-family: "4";
  src: url("../fonts/preloader/EditorialNew.otf");
}
@font-face {
  font-family: "5";
  src: url("../fonts/preloader/FivoSans.otf");
}
@font-face {
  font-family: "6";
  src: url("../fonts/preloader/Moresby\ Regular.ttf");
}
@font-face {
  font-family: "7";
  src: url("../fonts/preloader/Mars\ Brands.ttf");
}
@font-face {
  font-family: "8";
  src: url("../fonts/preloader/Vietnam.ttf");
}
@font-face {
  font-family: "9";
  src: url("../fonts/preloader/Ageya.otf");
}
@font-face {
  font-family: "10";
  src: url("../fonts/preloader/Bigilla-Bold.otf");
}
